<h2>Exercise 1 - If a decision tree is under-fitting the training dataset, is it a good idea to try scaling
the input features?</h2>

**Answer:** No, because decision trees are not impacted by feature scaling and it means that the model may not be complex enough since it is already under-fitting.

<h2>Exercise 2 - If a decision tree is over-fitting the training dataset, is it a good idea to try decreasing
max depth?</h2>

**Answer:** Yes, because it means the model has become too complex and reducing the max depth can prevent it from learning too much

<h2>Exercise 3 - Why would you use a random forest instead of a decision tree?</h2>

**Answer:** B - to reduce variance of the model

<h2>Exercise 4 - Which of the following is/are TRUE about bagging trees?|</h2>

**Answer:** D - so both A and C

<h2>Exercise 5 - Use College datafile to answer questions below </h2>

In [21]:
#5a -  Using the pandas library, read the csv data file and create a data-frame called college.

college = pd.read_csv('College(1).csv')
college.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [22]:
#5b - Change the Private variable from a categorical variable to a numerical variable.
# That is, change Yes to 1 and No to 0.

college['Private'] = college['Private'].map({'Yes': 1, 'No': 0})
college.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,1,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,1,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,1,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,1,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,1,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [23]:
#5c - Predictor variables: Private, F.Undergrad, P.Undergrad, Outstate, Room.Board, Books, Personal, S.F.Ratio and Grad.Rate 
# Target variable: Apps

#Input and target variable
X = college[['Private', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books', 'Personal', 'S.F.Ratio', 'Grad.Rate']]
Y = college['Apps'] #Target variable

#Split the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [28]:
#5d - Linear regression model

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from math import sqrt
from sklearn.metrics import mean_squared_error

#Store RMSE results here
model_1 = list()

#Model 1
md_1 = make_pipeline(StandardScaler(), LinearRegression()).fit(X_train, Y_train)

#Predict
md_pred1 = md_1.predict(X_test)

#Compute RMSE for model 1
rmse_1 = sqrt(mean_squared_error(Y_test, md_pred1))
model_1.append(rmse_1)
print('Model 1 RMSE: ', model_1)

Model 1 RMSE:  [1719.5436033906303]

In [35]:
#5e - BaggingRegressor, build a bagged linear regression model with 50 estimators.
# Finally, use this model to predict on the test dataset. Report the RMSE of this model.

#Store RMSE results here
model_2 = list()

from sklearn.ensemble import BaggingRegressor

#Model 2
md_2 = make_pipeline(StandardScaler(), BaggingRegressor(n_estimators = 50)).fit(X_train, Y_train)

#Predict
md_pred2 = md_2.predict(X_test)

#Compute RMSE for model 2
rmse_2 = sqrt(mean_squared_error(Y_test, md_pred2))
model_2.append(rmse_2)
print('Model 2 RMSE: ', model_2)

Model 2 RMSE:  [1408.232364064965]

<h2>Exercise 6 - Use framingham datafile to answer questions below</h2>

In [8]:
#6a -  Using the pandas library, read the csv data file and create a data-frame called heart

import pandas as pd

heart = pd.read_csv('framingham(4).csv')
heart.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [9]:
#6b - Remove observations with missing values.

heart = heart.dropna()

In [15]:
### 6c ###

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

#Store feature importance here
importance = list()

#Repeating 100 times
for i in range(0, 100):

    #TenYearCHD is target variable and everything else is input
    X = heart.drop(columns = ['TenYearCHD'], axis = 1)
    Y = heart['TenYearCHD']

    #Split data into 80% train and 20% test
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y)

    #Random forest classifier model
    RF_md = RandomForestClassifier(n_estimators = 500).fit(X_train, Y_train)

    #Extract feature importance
    importance.append(RF_md.feature_importances_)

In [17]:
# Compute the average importance of each of the variables across the 100 splits. After that, select the 
# top 5 variables (the ones with top 5 average importance) as the predictor variables.

import numpy as np
from sklearn.metrics import recall_score

importance = pd.DataFrame(importance)
importance.columns = ['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds', 
                      'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP', 
                      'diaBP', 'BMI', 'heartRate', 'glucose']

sorted = pd.DataFrame({'Importance':importance.apply(np.mean, axis = 0)})
sorted.sort_values(by = 'Importance', ascending = False)

                 Importance
sysBP              0.135351
BMI                0.127451
age                0.124443
totChol            0.121860
glucose            0.119588
diaBP              0.118912
heartRate          0.095945
cigsPerDay         0.050294
education          0.036919
male               0.021226
prevalentHyp       0.018468
currentSmoker      0.012566
BPMeds             0.007188
diabetes           0.006500
prevalentStroke    0.003289

In [18]:
### 6d ###

from sklearn.ensemble import ExtraTreesClassifier

#Store recall values here
md1_results = list()
md2_results = list()
md3_results = list()
md4_results = list()
md5_results = list()
md6_results = list()

#Use top 5 variables from part c as predictor variables and TenYearCHD as target
X = heart[['sysBP', 'BMI', 'age', 'totChol', 'glucose']]
Y = heart['TenYearCHD']

#100 iterations
for i in range(0,100):

    #Split data
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y)

    
    ### RF model 500 estimators and max_depth 3 ### 
    RF_md1 = RandomForestClassifier(max_depth = 3, n_estimators = 500).fit(X_train, Y_train)
    
    #Predict
    RF_pred1 = RF_md1.predict_proba(X_test)[:,1]
    
    #Labels with 10% cutoff
    RF_label1 = np.where(RF_pred1 < .1, 0, 1)
    
    #Recall
    RF_recall1 = recall_score(Y_test, RF_label1)
    md1_results.append(RF_recall1)

    
    ### RF model 500 estimators and max_depth 5 ###
    RF_md2 = RandomForestClassifier(max_depth = 5, n_estimators = 500).fit(X_train, Y_train)
    
    #Predict
    RF_pred2 = RF_md2.predict_proba(X_test)[:,1]
    
    #Labels with 10% cutoff
    RF_label2 = np.where(RF_pred2 < .1, 0, 1)
    
    #Recall
    RF_recall2 = recall_score(Y_test, RF_label2)
    md2_results.append(RF_recall2)


    ### RF model 500 estimators and max_depth 7 ###
    RF_md3 = RandomForestClassifier(max_depth = 7, n_estimators = 500).fit(X_train, Y_train)
    
    #Predict
    RF_pred3 = RF_md3.predict_proba(X_test)[:,1]

    #Labels with 10% cutoff
    RF_label3 = np.where(RF_pred3 < .1, 0, 1)
    
    #Recall
    RF_recall3 = recall_score(Y_test, RF_label3)
    md3_results.append(RF_recall3)


    
    ### ET model 500 estimators and max_depth 3 ###
    ET_md1 = ExtraTreesClassifier(max_depth = 3, n_estimators = 500).fit(X_train, Y_train)
    
    #Predict
    ET_pred1 = ET_md1.predict_proba(X_test)[:,1]

    #Labels with 10% cutoff
    ET_label1 = np.where(ET_pred1 < .1, 0, 1)
    
    #Recall
    ET_recall1 = recall_score(Y_test, ET_label1)
    md4_results.append(ET_recall1)


    ### ET model 500 estimators and max_depth 5 ###
    ET_md2 = ExtraTreesClassifier(max_depth = 5, n_estimators = 500).fit(X_train, Y_train)
    
    #Predict
    ET_pred2 = ET_md2.predict_proba(X_test)[:, 1]

    #Labels with 10% cutoff
    ET_label2 = np.where(ET_pred2 < .1, 0, 1)
    
    #Recall
    ET_recall2 = recall_score(Y_test, ET_label2)
    md5_results.append(ET_recall2)


    ### ET model 500 estimators and max_depth 7 ###
    ET_md3 = ExtraTreesClassifier(max_depth = 7, n_estimators = 500).fit(X_train, Y_train)
    
    #Predict
    ET_pred3 = ET_md3.predict_proba(X_test)[:, 1]

    #Labels with 10% cutoff
    ET_label3 = np.where(ET_pred3 < .1, 0, 1)
    
    #Recall
    ET_recall3 = recall_score(Y_test, ET_label3)
    md6_results.append(ET_recall3)


print('Model 1 average recall: ', np.mean(md1_results))
print('Model 2 average recall: ', np.mean(md2_results))
print('Model 3 average recall: ', np.mean(md3_results))
print('Model 4 average recall: ', np.mean(md4_results))
print('Model 5 average recall: ', np.mean(md5_results))
print('Model 6 average recall: ', np.mean(md6_results))

Model 1 average recall:  0.8415178571428572
Model 2 average recall:  0.8231250000000001
Model 3 average recall:  0.8086607142857143
Model 4 average recall:  0.9781250000000001
Model 5 average recall:  0.916607142857143
Model 6 average recall:  0.8798214285714284

From the above, I would use model 4 to predict TenYearCHD since it has the highest recall